.navbar {
  width: 25rem;
  height: 4rem;
  background-color: rgb(72, 192, 186);
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  border-radius: 4px 4px 0 0;
  position: relative;
}
.logo {
  font-weight: bold;
  font-size: 1.2rem;
}
.icons {
  display: flex;
  align-items: center;
}
.icon {
  margin-left: 1rem;
  cursor: pointer;
  position: relative;
}
.counter {
  width: 0.5rem;
  height: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 0.7rem;
  position: absolute;
  top: -5px;
  right: -5px;
}
.notifications {
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 4rem;
  right: 0;
  background-color: #f3f3f3ba;
  color: #000;
  font-weight: 300;
  padding: 0.5rem;
}
.notification {
  padding: 0.5rem;
  font-size: 0.87rem;
}
.notificationButton {
  width: 80%;
  padding: 0.5rem;
  margin-top: 1.1rem;
  cursor: pointer;
  background-color: rgb(72, 192, 186);
  color: #fff;
  border-radius: 4px;
}
