.navbar {
  width: 25rem;
  height: 4rem;
  background-color: rgb(72, 192, 186);
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  border-radius: 4px 4px 0 0;
}
.logo {
  font-weight: bold;
  font-size: 1.2rem;
}
.icons {
  display: flex;
  align-items: center;
}
.icon {
  margin-left: 1rem;
  cursor: pointer;
  position: relative;
}
.counter {
  width: 0.5rem;
  height: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 0.7rem;
  position: absolute;
  top: -5px;
  right: -5px;
}
