.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login input {
  padding: 0.6rem;
  border-radius: 4px;
  margin-bottom: 1.2rem;
  border: 1px solid lightseagreen;
}
.login button {
  padding: 0.6rem;
  background-color: lightseagreen;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  width: 100%;
}
